extends layout
block content
    link(rel = "stylesheet",href='/stylesheets/description_style.css')
    script(src="/scripts/description.js")
    article 
        section
            h1.title
            img#cover
        section
            h2 Plot
            p#plot
        section
            h2 Additional Information
            table
                tr 
                    td Title 
                    td.title
                tr 
                    td Author 
                    td#author
                tr
                    td Genre 
                    td#genre 
                tr
                    td Year of Publishing 
                    td#yearOfPublishing
                tr
                    td Publisher 
                    td#publisher
                tr 
                    td Available Copies 
                    td#availableCopies
            button#reserve(onclick = "reserve()") Reserve
            button#unreserve(onclick = "unreserve()") Cancel Reservation