extends layout
block content
    - var _start = 0
    - var _range = 10
    script(src="/scripts/index.js")

    button#back(onclick='pagination(\'back\')') Go Back 
    button#further(onclick='pagination(\'further\')') Go Forward