extends layout
block content
    script(src="/scripts/index.js")
    link(rel = "stylesheet",href='/stylesheets/index_style.css')
    nav#pagination
        a#back(href = "javascript:void(0);",onclick='pagination(0)') &laquo; 
        a#further(href = "javascript:void(0);",onclick='pagination(1)') &raquo;