nav.nav--menu-closed
      ul 
        li 
          a(href = "/") Catalogue
        li 
          a(href = "/users/profile") My Library
        li 
          a(href = "javascript:void(0);", onclick = "navMenuClickHandler()").nav__dropdown &#9776;