This file renders the profile page

extends layout 

block content 
    script(src="/scripts/profile.js")
    link(rel = "stylesheet",href='/stylesheets/profile_style.css')
    article#info 
        section
            h1 Personal Information 
            table
                tr
                    td User Name:
                    td#username
                tr 
                    td Full Name:
                    td#fullname
                tr 
                    td Email address:
                    td#email
                tr
                    td Address:
                    td#address
    article#books 
        section#history
            h1 Reservation history:
        section#current
            h1 Current reservations: