
@media(min-width:1200px){
    .cover{
        width:35%;
        float:left;
    }
    .description{
        width:50%;
        float:left;
    }

    #general:after{
            content:"";
            display: table;
            clear :both;
    }
    
}

#reserve{
    width:100%;
    float:left;
    text-align: center;
    color:white;
    background-color: #f1665f;
    padding:10px 0px 10px 0px;
    border-radius: 10px;
    text-decoration: none;
}
#reserve:hover{
    color:white;
    background-color:#f1665fae
}