button{
    display:none;
}
@media(min-width:840px){
    .cover{
        width:35%;
        float:left;
    }
    .description{
        width:50%;
        float:left;
    }

    #general:after{
            content:"";
            display: table;
            clear :both;
    }
}