/* This stylesheet is for the signup page */

section#register-section{
    text-align: center;
}

section#register-section h1{
    margin-bottom: 5px;
}

input{
    width: 75vw;
    height: 40px;
    margin-bottom: 2px;
    font-size: 1em;
}

.signup-failed{
    color: red;
}

@media(min-width:480px){
    input{
        width: 48vw;
    }



}


@media(min-width:750px){
    input{
        width: 450px;
        height: 50px;
        font-size: 1.25em;
    }



}